/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Version: 10
    \\  /    A nd           | Web:     www.openfoam.org
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
/*
 * 0/epsilon.j2 — Turbulent dissipation rate [m²/s³]
 *
 * epsilon_init = Cmu^0.75 * k^1.5 / (kappa * z_ref)
 *   ABL equilibrium at reference height (Richards & Hoxey 1993)
 *
 * BC strategy (Robin / inletOutlet on all lateral faces):
 *   All lateral:  inletOutlet — Dirichlet (inflow) or Neumann (outflow)
 *   Top:          zeroGradient
 *   Terrain:      epsilonWallFunction
 */
{%- set Cmu = 0.09 %}
{%- set k_init = inflow.u_star ** 2 / Cmu ** 0.5 %}
{%- set epsilon_init = Cmu ** 0.75 * k_init ** 1.5 / (inflow.kappa * inflow.z_ref) %}
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "0";
    object      epsilon;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// epsilon_init = Cmu^0.75 * k^1.5 / (kappa * z_ref)
//             = {{ "%.4e" | format(Cmu ** 0.75) }} * {{ "%.4f" | format(k_init) }}^1.5 / ({{ inflow.kappa }} * {{ inflow.z_ref }})
//             = {{ "%.6e" | format(epsilon_init) }} m²/s³

dimensions      [0 2 -3 0 0 0 0];

internalField   uniform {{ "%.6e" | format(epsilon_init) }};

boundaryField
{
{% for face in ['west', 'east', 'south', 'north'] %}
    {{ face }}
    {
        type            inletOutlet;
        inletValue      uniform {{ "%.6e" | format(epsilon_init) }};
        value           uniform {{ "%.6e" | format(epsilon_init) }};
    }

{% endfor %}
    top
    {
        type            zeroGradient;
    }

    terrain
    {
        type            epsilonWallFunction;
        value           uniform {{ "%.6e" | format(epsilon_init) }};
    }

    bottom
    {
        type            epsilonWallFunction;
        value           uniform {{ "%.6e" | format(epsilon_init) }};
    }
}

// ************************************************************************* //
