/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Version: 10
    \\  /    A nd           | Web:     www.openfoam.org
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
/*
 * 0/p.j2 — Pressure field
 *
 * simpleFoam:          kinematic [m²/s²], fixed reference
 * buoyantSimpleFoam:   dynamic [Pa], calculated from p_rgh + rho*g*h
 *
 * Variables:
 *   solver.name — determines pressure type and dimensions
 */
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "0";
    object      p;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

{%- if solver.name | default("simpleFoam") == "buoyantSimpleFoam" %}
// buoyantSimpleFoam: dynamic pressure [Pa]
// p is derived from p_rgh via p = p_rgh + rho*g*h
dimensions      [1 -1 -2 0 0 0 0];

internalField   uniform 101325;

boundaryField
{
{% for face in ['west', 'east', 'south', 'north'] %}
    {{ face }}
    {
        type            calculated;
        value           uniform 101325;
    }

{% endfor %}
    top
    {
        type            calculated;
        value           uniform 101325;
    }

    terrain
    {
        type            calculated;
        value           uniform 101325;
    }

    bottom
    {
        type            calculated;
        value           uniform 101325;
    }
}
{%- else %}
// simpleFoam: kinematic pressure [m²/s²]
dimensions      [0 2 -2 0 0 0 0];

internalField   uniform 0;

boundaryField
{
{% for face in ['west', 'east', 'south', 'north'] %}
    {{ face }}
    {
        type            fixedValue;
        value           uniform 0;
    }

{% endfor %}
    top
    {
        type            zeroGradient;
    }

    terrain
    {
        type            zeroGradient;
    }

    bottom
    {
        type            zeroGradient;
    }
}
{%- endif %}

// ************************************************************************* //
