#!/bin/bash -l
#PBS -N {{ case_id }}
#PBS -l select=1:ncpus={{ ncpus }}:mem={{ mem | default('32gb') }}
#PBS -l walltime={{ walltime | default('04:00:00') }}
#PBS -j oe
#PBS -m n

cd {{ remote_case_dir }}

module load GCC/12.3.0 OpenMPI/4.1.5 OpenFOAM/v2406
source $EBROOTOPENFOAM/OpenFOAM-v2406/etc/bashrc

./Allrun {{ ncpus }}
